.call-192-svgrepocom-icon,
.logo-1-1 {
  width: 193.8px;
  position: relative;
  height: 72px;
  object-fit: cover;
}
.call-192-svgrepocom-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.call-192-svgrepocom-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
.mail-svgrepocom-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ceosociliouscom {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.frame-container,
.logo-1-1-parent,
.mail-svgrepocom-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
.frame-container,
.logo-1-1-parent {
  gap: 0 70px;
}
.logo-1-1-parent {
  gap: 0 705px;
}
.star-icon {
  object-fit: cover;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6,
.star-icon {
  width: 10px;
  position: relative;
  height: 10px;
}
.component-26-parent,
.top-nav {
  display: flex;
  align-items: center;
}
.component-26-parent {
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 55px;
}
.top-nav {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-101xl);
  gap: 30px 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-libre-baskerville);
}
