.connect-with,
.welcome-to-orbiter {
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.welcome-to-orbiter {
  top: 227px;
  left: calc(50% - 166px);
}
.connect-with {
  top: 11.5px;
  left: 0;
}
.connect-with-parent {
  position: absolute;
  top: 282px;
  left: 687px;
  width: 547px;
  height: 90px;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.funded-by-rajasthan-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.frame-inner {
  width: 0;
  position: relative;
  height: 34px;
  object-fit: contain;
}
.incubated-in-iit-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.funded-by-rajasthan-goverment-parent {
  position: absolute;
  top: 382px;
  left: calc(50% - 386px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 25px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
}
.hero-image-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -125px;
  transform: scale(1.27);
}
.wrapper-hero-image {
  position: absolute;
  top: 360px;
  left: -240px;
  width: 2401px;
  height: 924.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calender-dynamic-color-icon {
  position: absolute;
  top: 878px;
  left: 1608px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.hero-section {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-steelblue);
  font-family: var(--font-libre-baskerville);
}
@media screen and (max-width: 1200px) {
  .hero-section {
    width: 1200px;
    height: 655px;
  }
}
