#loginpage {
  display: flex;
  justify-content: center;
  padding: 4%;
  gap: 30px;
}

#leftside img {
  max-width: 100%;
  margin-top: 15%;
}

#rightside {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form-container {
  border: 1px solid #e2e2e2;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
}

.login-form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.login-form-container .form-group {
  margin-bottom: 15px;
}

.login-form-container .form-group input {
  background-color: #fafafa;
  border: 0.5px solid #dedede;
  width: 80%;
  padding: 8px;
  font-size: 16px;
}

.login-form-container button {
  background-color: #4cb5f9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 85%;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.login-form-container button:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



.goforsignup {
  border: 1px solid #e2e2e2;
}

.goforsignup a {
  color: blue;
  cursor: pointer;
}

.goforsignup a:hover {
  text-decoration: underline;
}

/* Mobile Styles */

@media screen and (max-width: 767px) {
  #loginpage {
    flex-direction: column; 
    align-items: center; 
  }

  #leftside {
    
    margin-top: 20px; 
  }

  #rightside {
    margin-top: 0; 
  }

  .login-form-container {
    width: 100%; 
    max-width: 350px; 
  }
  .goforsignup {
    width: 115%;
  }
}
