.networking2 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.connect-with-professionals {
  width: 1645px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--color-gray);
  display: flex;
  align-items: center;
  height: 108px;
  flex-shrink: 0;
}
.networking-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px 0;
}
.shadow-icon {
  opacity: 0.7;
}
.iphone-15-pro-black-titanium-m1,
.main-icon,
.shadow-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 290.5px;
  height: 593.8px;
  object-fit: cover;
}
.iphone-15-pro-black-titanium-m1 {
  top: 9.6px;
  left: 11.6px;
  width: 265.6px;
  height: 573.1px;
  mix-blend-mode: normal;
}
.iphone-15-pro-black-titanium-m,
.iphone-15-pro-black-titanium-m-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 290.5px;
  height: 593.8px;
}
.iphone-15-pro-black-titanium-m-wrapper {
  left: 272.2px;
}
.chats,
.group-child {
  position: absolute;
  left: 0;
}
.group-child {
  top: 2.2px;
  width: 72.8px;
  height: 72.8px;
  object-fit: cover;
}
.chats {
  top: 0;
  letter-spacing: 0.15px;
  line-height: 140%;
}
.chats-wrapper,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 139px;
  height: 12px;
}
.group-wrapper {
  top: 38.6px;
}
.chats1,
.chats2 {
  position: absolute;
  left: 0;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.chats1 {
  top: 16px;
  color: var(--color-dimgray);
}
.chats2 {
  top: 0;
  display: inline-block;
  width: 83.7px;
}
.group-item {
  position: absolute;
  top: 8.7px;
  left: 87.4px;
  width: 11.7px;
  height: 11.7px;
}
.chats-parent,
.group-parent2 {
  position: absolute;
  top: 0;
  left: 0;
}
.chats-parent {
  width: 99px;
  height: 28px;
  font-size: var(--font-size-xs-7);
}
.group-parent2 {
  width: 139px;
  height: 50.6px;
}
.location-pin-svgrepocom-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 11.7px;
  height: 11.7px;
  overflow: hidden;
}
.india {
  position: absolute;
  top: 0;
  left: 15.3px;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.location-pin-svgrepocom-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.3px;
  height: 28px;
}
.mentor {
  position: absolute;
  top: 0;
  left: 15.3px;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.businessman-svgrepocom-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 11.7px;
  height: 11.7px;
  overflow: hidden;
}
.entrepreneur,
.group-frame,
.group-parent3 {
  position: absolute;
  top: 0;
  left: 54.6px;
  width: 50.3px;
  height: 28px;
}
.group-frame,
.group-parent3 {
  left: 0;
  width: 104.9px;
}
.group-frame {
  top: 49.5px;
}
.component-15-inner,
.group-div,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 87.4px;
  width: 139px;
  height: 77.5px;
}
.component-15-inner,
.group-div {
  left: 0;
  width: 226.4px;
}
.component-15-inner {
  top: 7.3px;
  left: 7.3px;
  font-size: var(--font-size-4xs-7);
}
.bio {
  position: absolute;
  top: 185px;
  left: 12.4px;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.available-but-the,
.there-are-many {
  margin: 0;
}
.social,
.there-are-many-container {
  position: absolute;
  letter-spacing: 0.29px;
}
.there-are-many-container {
  top: 209px;
  left: 12.4px;
  font-size: var(--font-size-5xs-3);
  line-height: 10.2px;
  color: var(--color-dimgray);
}
.social {
  top: 0;
  left: 0;
  line-height: 27.67px;
}
.icon-instagram-icon,
.icon-twitter-icon {
  position: absolute;
  top: 0;
  left: 96.1px;
  width: 17.5px;
  height: 17.5px;
}
.icon-instagram-icon {
  left: 64.1px;
}
.icon-linkedin-original {
  position: absolute;
  height: 97.14%;
  width: 14.96%;
  top: 1.71%;
  right: 57.22%;
  bottom: 1.14%;
  left: 27.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-facebook-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.5px;
  height: 17.5px;
}
.icon-twitter-icon-parent,
.social-parent {
  position: absolute;
  top: 27.7px;
  left: 0;
  width: 113.6px;
  height: 17.5px;
}
.social-parent {
  top: 225px;
  left: 12.4px;
  height: 45.2px;
}
.group-inner {
  border-radius: 16.02px;
  border: 0.7px solid var(--color-steelblue);
  box-sizing: border-box;
}
.group-inner,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 87.4px;
  height: 32px;
}
.connect-svgrepocom-icon {
  position: absolute;
  top: 5.9px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.connect {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.connect-wrapper {
  position: absolute;
  top: 0;
  left: 22.6px;
  width: 43px;
  height: 28px;
}
.connect-svgrepocom-parent,
.group-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.6px;
  height: 28px;
}
.group-wrapper2 {
  top: 2.1px;
  left: 10.9px;
}
.group-parent5,
.group-wrapper1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 87.4px;
  height: 32px;
}
.group-wrapper1,
.rectangle-div {
  left: 104.1px;
}
.rectangle-div {
  left: 0;
  border-radius: 16.02px;
  border: 0.7px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 43.7px;
}
.group-icon {
  position: absolute;
  height: 45.63%;
  width: 33.41%;
  top: 27.19%;
  right: 33.18%;
  bottom: 27.19%;
  left: 33.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child1,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 207.5px;
  width: 43.7px;
  height: 32px;
}
.group-child1 {
  left: 0;
  border-radius: 16.02px;
  background-color: var(--color-steelblue);
  width: 87.4px;
}
.user-add-alt-svgrepocom-icon {
  position: absolute;
  top: 5.9px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.follow {
  position: absolute;
  top: 0;
  left: 22.6px;
  letter-spacing: 0.29px;
  line-height: 27.67px;
}
.group-wrapper3,
.user-add-alt-svgrepocom-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.6px;
  height: 28px;
}
.group-wrapper3 {
  top: 2.1px;
  left: 15.3px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 87.4px;
  height: 32px;
  color: var(--color-white);
}
.group-parent4 {
  position: absolute;
  top: 91.8px;
  left: 7.3px;
  width: 251.2px;
  height: 32px;
  font-size: var(--font-size-3xs-5);
}
.group-child2,
.k {
  position: absolute;
  top: 0;
}

.group-child2 {
  left: 0;
  border-radius: 3.64px;
  background-color: var(--color-white);
  box-shadow: 0 0.7px 4.37px rgba(0, 0, 0, 0.25);
  width: 251.2px;
  height: 46.6px;
}
.k {
  left: 11.7px;
  letter-spacing: -0.3px;
  line-height: 16.02px;
}
.followers,
.k-parent {
  position: absolute;
  left: 0;
}
.followers {
  top: 16px;
  font-size: var(--font-size-4xs-7);
  letter-spacing: -0.3px;
  line-height: 16.02px;
  color: var(--color-darkslategray-300);
}
.k-parent {
  top: 0;
  width: 41px;
  height: 33px;
}
.div,
.following {
  position: absolute;
  top: 0;
  left: 12.4px;
  letter-spacing: -0.3px;
  line-height: 16.02px;
}
.following {
  top: 16px;
  left: 0;
  font-size: var(--font-size-4xs-7);
  color: var(--color-darkslategray-300);
}
.parent {
  position: absolute;
  top: 0;
  left: 83.8px;
  width: 42px;
  height: 33px;
}
.connections,
.k1 {
  position: absolute;
  top: 0;
  left: 19.7px;
  letter-spacing: -0.3px;
  line-height: 16.02px;
}
.connections {
  top: 16px;
  left: 0;
  font-size: var(--font-size-4xs-7);
  color: var(--color-darkslategray-300);
}
.group-parent6,
.k-group {
  position: absolute;
  top: 0;
  left: 169px;
  width: 54px;
  height: 33px;
}
.group-parent6 {
  top: 7.3px;
  left: 14.6px;
  width: 223px;
}
.rectangle-parent2 {
  position: absolute;
  top: 131.1px;
  left: 7.3px;
  width: 251.2px;
  height: 46.6px;
  text-align: center;
}
.component-15 {
  position: absolute;
  top: 63px;
  left: 433px;
  border-radius: 7.28px;
  background-color: var(--color-white);
  box-shadow: 0 8px 50px rgba(51, 51, 51, 0.25);
  width: 266.5px;
  height: 284.7px;
}
.welcome-to-our {
  position: absolute;
  top: 57px;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 18px;
  display: inline-block;
  width: 334px;
  height: 18px;
}
.rectangle-icon {
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: var(--br-xl);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.follow1 {
  position: absolute;
  top: 0;
  left: 19px;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.vector-icon {
  position: absolute;
  height: 64.55%;
  width: 22.07%;
  top: 18.18%;
  right: 77.93%;
  bottom: 17.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.follow-parent {
  position: absolute;
  top: 8px;
  left: 209px;
  width: 58px;
  height: 22px;
}
.menu-dots-svgrepocom-icon {
  position: absolute;
  top: 10px;
  left: 277px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: contain;
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  width: 69px;
  height: 20px;
}
.group-child4 {
  top: 0;
  border-radius: var(--br-11xs) var(--br-11xs) 0 0;
  background-color: var(--color-gold);
  height: 2px;
}
.group-child4,
.group-child5,
.rectangle-parent4 {
  position: absolute;
  left: 0;
  width: 69px;
}
.group-child5 {
  top: 18px;
  border-radius: 0 0 var(--br-11xs) var(--br-11xs);
  background-color: var(--color-steelblue);
  height: 2px;
}
.rectangle-parent4 {
  top: 9px;
  height: 20px;
}
.organization1 {
  position: absolute;
  top: 0;
  left: 5px;
  letter-spacing: 0.4px;
  line-height: 38px;
}
.group-child6,
.group-parent12 {
  position: absolute;
  top: 0;
  left: 97px;
  width: 69px;
  height: 38px;
}
.group-child6 {
  height: 43.68%;
  width: 20.06%;
  top: 40.79%;
  right: 0;
  bottom: 15.53%;
  left: 79.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent13,
.socilious {
  position: absolute;
  top: 0;
  left: 0;
}
.socilious {
  letter-spacing: 0.4px;
  line-height: 38px;
}
.group-parent13 {
  height: 100%;
  width: 57.65%;
  right: 42.35%;
  bottom: 0;
  font-size: var(--font-size-sm);
}
.group-parent10,
.group-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
}
.group-parent11 {
  width: 166px;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.group-parent10 {
  width: 295px;
}
.socilious1 {
  position: absolute;
  top: 13px;
  left: 0;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.4px;
  line-height: 38px;
  color: var(--color-darkslategray-300);
}
.group-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 295px;
  height: 51px;
}
.day-ago {
  position: absolute;
  top: 34px;
  left: 0;
  font-size: var(--font-size-7xs);
  letter-spacing: -0.41px;
  line-height: 18px;
  color: var(--color-dimgray);
}
.group-parent8,
.group-wrapper4,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 295px;
  height: 52px;
}
.group-wrapper4,
.rectangle-parent3 {
  left: 50px;
}
.rectangle-parent3 {
  left: 0;
  width: 345px;
  color: var(--color-steelblue);
}
.group-child7,
.welcome-to-our-newly-launched-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 75px;
}
.group-child7 {
  top: 85px;
  height: 250px;
  object-fit: cover;
}
.group-parent7 {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 345px;
  height: 335px;
}
.love-svgrepocom-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 22.7px;
  height: 22px;
  overflow: hidden;
}
.k2 {
  position: absolute;
  top: 0;
  left: 27.9px;
  letter-spacing: 0.4px;
  line-height: 38px;
  display: inline-block;
  width: 29.9px;
}
.love-svgrepocom-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 57.8px;
  height: 38px;
}
.div1 {
  position: absolute;
  top: 0;
  left: 27.8px;
  letter-spacing: 0.4px;
  line-height: 38px;
  display: inline-block;
  width: 24.8px;
}
.comment-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 22.7px;
  height: 22px;
  overflow: hidden;
}
.div2,
.group,
.wrapper {
  position: absolute;
  top: 0;
}
.group {
  left: 103.2px;
  width: 52.6px;
  height: 38px;
}
.div2,
.wrapper {
  width: 23.7px;
}
.div2 {
  left: 0;
  letter-spacing: 0.4px;
  line-height: 38px;
  display: inline-block;
}
.wrapper {
  left: 33px;
  height: 38px;
}
.repost-round-svgrepocom-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 22.7px;
  height: 22px;
  overflow: hidden;
  object-fit: contain;
}
.group-parent15,
.save-icon {
  position: absolute;
  top: 0;
  left: 201.2px;
  width: 56.8px;
  height: 38px;
}
.save-icon {
  top: 8px;
  left: 333.3px;
  width: 22.7px;
  height: 22px;
  overflow: hidden;
}
.component-16,
.group-parent14 {
  position: absolute;
  top: 353px;
  left: 6px;
  width: 356px;
  height: 38px;
  color: var(--color-black);
}
.component-16 {
  top: 142px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 50.2px rgba(52, 52, 52, 0.25);
  width: 367px;
  height: 397px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
}
.group-container,
.networking-icon,
.saly-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 699.5px;
  height: 593.8px;
}
.networking-icon,
.saly-1-icon {
  width: 800px;
  height: 400px;
  object-fit: cover;
}
.saly-1-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 1px;
  transform: scale(1.186);
}
.wrapper-saly-1 {
  position: absolute;
  top: 0;
  left: 121px;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-parent,
.networking-group {
  position: absolute;
  top: 46.9px;
  left: 774.5px;
  width: 800px;
  height: 500px;
}
.group-parent {
  top: 245px;
  left: 35px;
  width: 1574.5px;
  height: 593.8px;
  font-size: var(--font-size-xs-7);
  color: var(--color-black);
}
.networking1 {
  width: 100%;
  position: relative;
  height: 838.8px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-libre-baskerville);
}
